.videoComponent {
    width: 320px;
    height: 180px;
    position: fixed;
    z-index: 10000;
}

.videoComponent_top {
    top: 30px;
}

.videoComponent_bottom {
    bottom: 30px;
}

.videoComponent_left {
    left: 30px;
}

.videoComponent_right {
    right: 30px;
}